.wrapper {
	overflow: auto;
	height: 450px;
	display: flex;
	flex-flow: column;
	color: #ccc;
}

.wrapper .graph {
	flex: 1;
	/* height: 100%; */
	min-height: 0;
	display: flex;
}

.wrapper .timeline {
	height: 75px;
	min-height: 75px;
	display: none;
	position: relative;
	background: var(--cosmograph-timeline-background);
	width: 100%;
	overflow: hidden;
}

.wrapper .bottom {
	position: absolute;
	overflow: hidden;
	display: flex;
	bottom: 0.5rem;
	left: 0.5rem;
	right: 0.5rem;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	pointer-events: none;
}

.wrapper .bottom .leftLegends {
	display: flex;
	flex-direction: column;
}

.wrapper .bottom .rightLegends {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	gap: 20px;
}

.wrapper .bottom .pointSizeLegend {
	width: fit-content;
	padding-bottom: 20px;
}

.wrapper .bottom .linkWidthLegend {
	width: fit-content;
	padding-bottom: 20px;
}

.wrapper .bottom .pointColorLegend {
	padding: 5px;
	width: fit-content;
}

.wrapper .bottom .pointTypeColorLegend {
	padding: 6px;
	border-radius: 5px;
	backdrop-filter: blur(6px);
	width: fit-content;
}

.wrapper .bottom .linkColorLegend {
	width: fit-content;
}

.wrapper .bottom .disable {
	display: none;
}

.wrapper .controls {
	
}

.wrapper .leftControls {
	position: absolute;
	top: 0.25rem;
	left: 0.25rem;
	display: flex;
  flex-direction: column;
}

.wrapper .rightControls {
	position: absolute;
	top: 0.25rem;
	right: 0.25rem;
	display: flex;
  flex-direction: column;
}

.wrapper .leftControls .selectAreaButton,
.wrapper .rightControls .selectAreaButton,
.wrapper .controls .selectAreaButton {
	width: 15px;
	height: 15px;
	padding: 7px;
}

.wrapper .leftControls .fitViewButton,
.wrapper .rightControls .fitViewButton,
.wrapper .controls .fitViewButton {
	width: 15px;
	height: 15px;
	padding: 7px;
}

.wrapper .leftControls .playButton,
.wrapper .rightControls .playButton,
.wrapper .controls .playButton {
	width: 15px;
	height: 15px;
	padding: 7px;
	/* margin-bottom: 0.5rem; */
}

.wrapper .leftControls .zoomInOutButton,
.wrapper .rightControls .zoomInOutButton,
.wrapper .controls .zoomInOutButton {
	width: 15px;
	height: 30px;
}

.wrapper .controls .zoomInOutButton div {
  padding: 7px;
}

/* Widget output div has a 8px left and right padding which looks off */
.cell-output-ipywidget-background {
	padding: 0 !important;
}