# Exclude a variety of commonly ignored directories.
exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".ipynb_checkpoints",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pyenv",
    ".pytest_cache",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    ".vscode",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "site-packages",
    "venv",
    "notebooks",
]

extend-exclude = ["tests", "cosmograph/_dev_utils"]
# Same as Black.
line-length = 88
indent-width = 4

# Assume Python 3.9
target-version = "py39"

[lint]
# Enable Pyflakes (`F`) and a subset of the pycodestyle (`E`)  codes by default.
# Unlike Flake8, Ruff doesn't enable pycodestyle warnings (`W`) or
# McCabe complexity (`C901`) by default.
select = ["E3", "E4", "E7", "E9", "F", "D100", "W"]
ignore = [
    # (Thor): Keeping all imports at the top: Sure, best in most cases, but keeping imports close to the functions,
    # or within the functions themselves has it's place (especially when the location and dependencies of things are still shifting).
    # See for example this discussion - https://stackoverflow.com/questions/3095071/in-python-what-happens-when-you-import-inside-of-a-function 
    # (or this one for JS - https://stackoverflow.com/questions/35817080/node-requiring-module-inside-function)
    "E402",
    # (Thor): Using __all__ instead of just imports (that aren't used) does indeed give you
    # more python support than just importing, like I do. But I consider that a limitation of python,
    # not a nice feature: It often makes you violate SSOT. For example, when you want to add something,
    # you need to remember to include in __all__ list, or when you remove something you need to remember also remove in __all__ list.
    "F401"
]

# Allow fix for all enabled rules (when `--fix`) is provided.
fixable = ["ALL"]
unfixable = []

# Allow unused variables when underscore-prefixed.
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

[format]
# Like Black, use double quotes for strings.
quote-style = "double"

# Like Black, indent with spaces, rather than tabs.
indent-style = "space"

# Like Black, respect magic trailing commas.
skip-magic-trailing-comma = false

# Like Black, automatically detect the appropriate line ending.
line-ending = "auto"

# Enable auto-formatting of code examples in docstrings. Markdown,
# reStructuredText code/literal blocks and doctests are all supported.
#
# This is currently disabled by default, but it is planned for this
# to be opt-out in the future.
docstring-code-format = false

# Set the line length limit used when formatting code snippets in
# docstrings.
#
# This only has an effect when the `docstring-code-format` setting is
# enabled.
docstring-code-line-length = "dynamic"

